<!DOCTYPE html>

<html layout:decorate="~{fragments/layout}"> 
	<head>
		<title>Category Try Page</title>
	</head>
	<body>
		<div layout:fragment="content">
		<h1>Category Try Page</h1>
		
		<button onclick="window.location.href='/category/addform'">Create</button>
		
		<table border ="2">
			<thead bgcolor ="yellow">
				<tr>
					<th>IMAGE</th>
					<th>Category Initial</th>
					<th>Category Name</th>
					<th>Is Active</th>
					<th colspan="2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${ listCategory }">
					<td><img th:src="@{${'/img/' + item.sphoto}}" style="width:135px;"></td>
					<td th:text="${ item.categoryInitial }"></td>
					<td th:text="${ item.categoryName }"></td>
					<td th:text="${ item.isActive }"></td>
					<td><a th:href="@{/category/edit/{id}(id=${item.id})}">Edit</a></td>
					<td><a th:href="@{/category/delete/{id}(id=${item.id})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		</div>
	</body>
</html>